{
  "root": true,

  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },

  "plugins": [
    "react", // @eslint-plugin-react
    "react-hooks", // @eslint-plugin-react-hooks
    "import", // @eslint-plugin-import
    "jsx-a11y", // @eslint-plugin-jsx-a11y
    "jest", // @eslint-plugin-jest
    "jest-dom", // @eslint-plugin-jest-dom
    "cypress" // @eslint-plugin-cypress
  ], // Turn on the plugins and peer plugins

  "extends": [
    "airbnb", // Use the recommended rules from @eslint-config-airbnb
    "plugin:react/recommended", // Extends prevouos rules by recommended rules from @eslint-plugin-react
    "plugin:jest/recommended", // Extends prevouos rules by recommended rules from @eslint-plugin-jest
    "plugin:jest-dom/recommended", // Extends prevouos rules by recommended rules from @eslint-plugin-jest-dom
    "plugin:cypress/recommended" // Extends prevouos rules by recommended rules from @eslint-plugin-cypress
  ],

  "parser": "@babel/eslint-parser", // Specifies the ESLint parser
  "parserOptions": {
    "sourceType": "module", // Allows for the use of imports
    "ecmaVersion": "latest", // Allows for the parsing of modern ECMAScript features
    "ecmaFeatures": {
      "jsx": true, // Allows for the parsing of JSX
      "modules": true
    }
  },

  "rules": {
    "no-console": "off",
    "import/extensions": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "linebreak-style": ["error", "unix"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-props-no-spreading": "off",
    "react/forbid-prop-types": "off",
    "react/jsx-pascal-case": ["error"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-sort-props": [
      "error",
      {
        "noSortAlphabetically": true,
        "ignoreCase": true,
        "callbacksLast": true,
        "shorthandLast": false,
        "reservedFirst": ["key"]
      }
    ],
    "react/jsx-max-props-per-line": [
      "error",
      {
        "maximum": 2,
        "when": "always"
      }
    ],

    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "jest-dom/prefer-checked": "error",
    "jest-dom/prefer-enabled-disabled": "error",
    "jest-dom/prefer-required": "error",
    "jest-dom/prefer-to-have-attribute": "error"
  },

  "ignorePatterns": ["./node_modules/**", "./src/**/*.cjs"],

  "settings":  {
    // "import/resolver": ["node", "webpack"],
    "react":  {
      "version":  "detect"  // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  }
}
